/* Mobile bottom navigation bar styles */

.wrapper {}

.bar {
    height: fit-content;
    min-height: 60px;
    padding: 12px;
}

.item{
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}

.label {
    color: var(--color-text-0, #262722);

    /* body_16_r */
    font-family: Roboto;
    font-family: var(--font-roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    text-transform: capitalize;
}