.header {
    width: 100%;
    height: 80px;

    padding: 20px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-bg-2, #ededed);

    position: sticky;
    top: 0;
    z-index: 49;
}

.header_left {
    width: fit-content;
    height: full;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
}

.header_logo_link:focus-visible {
    outline: none;
}

.header_logo {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header_logo svg {
    flex-shrink: 0;
    width: 60px;
    height: 32px;
}


.header_logo_text {
    color: #000;
    /* font-family: "Nico Moji"; */
    font-family: var(--font-nico);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_interaction {
    height: 100%;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.header_discord_button {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid var(--color-brand-2, #20201E);
    background: var(--color-brand-2, #20201E);

    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }
}

@media (max-width: 444px) {
    .header {
        padding-left: 4px;
        padding-right: 4px;
    }

    .header_interaction {
        gap: 4px;
    }
}