.sidebar {
    height: 100%;
    width: 100%;
    /* max-width: 240px; */
    overflow: hidden;
    flex-shrink: 0;

    border-right: 1px solid var(--color-bg-2, #ededed);

    position: relative;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.sidebar_header_logo {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2px;

    svg {
        flex-shrink: 0;
    }
}

.sidebar_header_logo_text {
    color: #000;
    font-family: var(--font-nico);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar_content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;

    scrollbar-width: none;
    scroll-behavior: smooth;

    &:hover {
        scrollbar-width: thin;
    }

    padding: 16px 12px;
}

.sidebar_content_content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.footer_link {
    color: var(--color-text-3, #B3B4B2);

    /* body_14_r */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

.footer_link:hover {
    .footer_link_text {
        &::after {
            width: 100%;
        }
    }
}

.footer_link_text {
    /* color: var(--color-text-2, #7D7D7A); */
    color: var(--color-text-3, #B3B4B2);

    /* body_14_b */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 1px;
        width: 0;
        background: var(--color-text-0);
        transition: all 0.3s ease;
    }
}

.footer_link_icon_wrapper {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: var(--color-bg-3, #F8F8F8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
    }
}