/* 未登录的用户交互按钮 */
.user_interact_button {
    border-radius: 24px;
    border: 2px solid var(--color-text-0, #262722);
    /* background: #20201E; */
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 20px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    background-color: var(--color-text-0, #262722);;

    &:hover {
        transform: translateY(-2px);
    }
}

.user_interact_button_text {
    color: var(--color-text-4, #FFFFFF);
    /* color: var(--color-text-0, #262722); */
    font-family: Roboto;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    /*最大显示行数*/
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /*即使是一个单词也要换行*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 登陆后对话框中的item按钮 */
.button {
    /* w-full */
    width: 100%;
    /* flex items-center */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    /* px-3 py-4 */
    padding: 12px;

    font-family: var(--font-poppins);
    /* text-sm */
    font-size: 14px;
    /* text-left */
    text-align: left;
    /* rounded-md */
    border-radius: 0.375rem;
    /* transition-colors */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.button:hover {
    /* hover:bg-gray-100 */
    background-color: rgb(243 244 246);
}


