.background_left_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 16%;
    height: 32%;
    transform: translateX(-40%) translateY(-20%);
    border-radius: 50%;
    background: #CDB4FF;
    filter: blur(200px);
}

.background_right_center {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 0;
    width: 8%;
    height: 16%;
    border-radius: 50%;
    background: #B4F1FF;
    filter: blur(200px);
    transform: translateY(-50%);
}

.background_center_top {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 0;
    width: 16%;
    height: 16%;
    transform: translateY(-20%);
    border-radius: 50%;
    background: rgba(188, 198, 255, 0.40);
    filter: blur(200px);
    transform: translateX(-50%);

}

.container_display {
    flex-direction: row;
}

.content {
    /* 会变得 */
    width: inherit;
    min-width: inherit;
    height: 100%;
    min-height: 100%;
    /* 不变的 */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    isolation: isolate;

    scrollbar-width: thin;
    scroll-behavior: smooth;
}

@media not (max-width: 1024px) {

    .mobile {
        display: none;
    }
}

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }

    .container_display {
        flex-direction: column;
    }

    .content {
        height: initial;
        min-height: initial;
        flex-grow: 1;
        width: 100%;
        min-width: 100%;
    }
}