.shareButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    /* gap-1.5 */
    padding: 0.25rem 0.5rem;
    /* px-2 py-1 */
    border-radius: 9999px;
    /* rounded-full */
    transition: all 0.3s ease-in-out;
    /* transition-all duration-200 */
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }


}

.count {
    color: var(--color-text-0, #262722);

    /* body_14_r */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}
